/**
 * Battersea Library - Accordion Styles Version: 2.0.4
*/

[data-accordion-item] {
	margin-bottom: 10px;
	
	[data-accordion-header] {
		cursor: pointer;
		user-select: none;
		transition: background 0.3s;
		position: relative;
		
		&:hover {
			background: rgba(0, 0, 0, 0.05);
		}
		
		&::after {
			content: '+';
			position: absolute;
			right: 15px;
			top: calc(50% - 1rem);
			transform: translateY(-25%) rotate(0deg);
			font-size: 2rem;
			transition: transform 0.3s;
			transform-origin: center center; // Rotate from center
		}
	}
	
	[data-accordion-content] {
		overflow: hidden;
		transition: max-height 0.4s ease;
		max-height: 0;
	}
	
	&.active {
		[data-accordion-header]::after {
			content: '+';
			transform: translateY(-25%) rotate(45deg);
		}
	}
}